.table {
  &__empty {
    font-size: 22px;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
  }

  &__row {
    display: grid;
    grid-template-columns: 50px 3fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    border-bottom: 1px solid;
    padding: 10px;

    &._in-progress {
      grid-template-columns: 50px 3fr 3fr;
    }

    &-progress {
      width: 100%;
      align-items: center;
      display: flex;
      accent-color: @main;

      & progress {
        width: 100%;
        margin-right: 8px;
      }
    }

    &-file {
      cursor: pointer;
      transition: all .5s;

      &:hover {
        transform: scale(1.01);
        transition: all .5s;
      }
    }
  }

  &__column {
    &-center {
      margin: auto;

      &__button {
        margin: 0 4px;
        width: 16px;
        cursor: pointer;
        padding: 6px;
      }
    }
  }
}